In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import string
import unidecode
import re
import nltk
from wordcloud import WordCloud, ImageColorGenerator
import cv2

import numpy as np
from sklearn import svm
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df = pd.read_csv('Dataset_final.csv', header=None)

df.head()

                                                   0
0          Como cometer suicídio sem dx a mãe triste
1          Estou nova demais p cometer esse suicídio
2  "Nunca dirijo meu carro por cima de uma ponte ...
3  Nem imagino como seria minha vida sem esse gat...
4  A vida tá me testando para ver qual  vou comet...

In [3]:
df.describe()

                      0
count               520
unique              506
top     cansei de viver
freq                  3

In [4]:
stopwords = nltk.corpus.stopwords.words('portuguese')
stemmer = nltk.stem.RSLPStemmer()

def clean_text(text):
    
    # Normalize to Lower
    text = text.lower()
    
    # Remove Accent
    text = unidecode.unidecode(text)
    
    # Split ponctuation
    text = ' '.join(re.findall(r"[\w]+|[" + string.punctuation + r"]",text))
    
    text = text.translate(str.maketrans('', '', string.punctuation))
    
    # Remove Stopwords
#     text = ' '.join([word for word in text.split() if word not in stopwords])
    
    return text

In [11]:
new_df = pd.DataFrame(pd.unique(df[0]))

new_df[0] = new_df[0].apply(clean_text)
new_df[1] = new_df[0].str.split().str.len()

new_df.head()

                                                   0   1
0          como cometer suicidio sem dx a mae triste   8
1          estou nova demais p cometer esse suicidio   7
2   nunca dirijo meu carro por cima de uma ponte ...  25
3  nem imagino como seria minha vida sem esse gat...  41
4  a vida ta me testando para ver qual vou comete...  14

In [12]:
new_df.describe()

                1
count  506.000000
mean     9.928854
std      7.985313
min      2.000000
25%      5.000000
50%      8.000000
75%     12.000000
max     57.000000

In [14]:
clf = svm.OneClassSVM(kernel="rbf", gamma=0.01)

In [15]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(new_df[0])

In [20]:
clf.fit(X)

OneClassSVM(cache_size=200, coef0=0.0, degree=3, gamma=0.01, kernel='rbf',
            max_iter=-1, nu=0.5, random_state=None, shrinking=True, tol=0.001,
            verbose=False)

In [23]:
X_outliers = np.random.uniform(low=-4, high=4, size=(20, 921))
clf.predict(X_outliers)

array([-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1])

In [26]:
setence = "vao se foderem" 
setence = clean_text(setence)
setence = vectorizer.transform([setence])

clf.predict(setence)

array([1])

In [27]:
print(setence)

  (0, 748)	1
  (0, 883)	1